# Copia este archivo y renómbralo a .env.local
# Llena cada valor con tus credenciales de Firebase Console

VITE_FIREBASE_API_KEY=aqui-tu-apiKey
VITE_FIREBASE_AUTH_DOMAIN=aqui-tu-authDomain
VITE_FIREBASE_PROJECT_ID=aqui-tu-projectId
VITE_FIREBASE_STORAGE_BUCKET=aqui-tu-storageBucket
VITE_FIREBASE_MESSAGING_SENDER_ID=aqui-tu-messagingSenderId
VITE_FIREBASE_APP_ID=aqui-tu-appId
